
*,*::before ,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --footer-li-a-font-size:12px;
    --footer-titles-font-size:16px;
    --logo-description-size:10px;
    --logo-width:66px;
    --logo-height:66px;
    --menu-li-a-size:16px;
    --hero-title:64px;

}
body{
  overflow-x: auto;
  font-family: "Roboto" ,sans-serif;
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
 
 
}

#main-container{
    background-color: #F6FCF8;
    max-width: 1600px;
}
#main-wrapper{
  margin: 0px 120px 0px 120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* Navigation */
    /* menus */
#main-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 19px 0px;
}
#nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
#nav-ul a{
    text-decoration: none;
    color: black;
    font-size: var(--menu-li-a-size);
    line-height: 28px;
    letter-spacing: 13%;
    font-weight: 400;
}
#nav-ul li{
    margin-left: 40px;
}


    /* logo */
#logo-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-img img{
    width: 144px;
    height: 144px;
    object-fit:contain;
    object-position: center;
    border-radius: 100%;
}
#logo-text{
    margin-left: 14px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: 12%;
   font-size: 16px;
}

#logo-text , #footer-logo-description{
   line-height: 1.9;
   
 }
/* Hero section */

#hero-title{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    
    font-size:var(--hero-title);
  
    letter-spacing: 4px;
    line-height: 1.1;
    
}


#hero-details-one-wrapper{
    position: relative;
}
#hero-details-one{
    position: absolute;
    top: 0rem;
    right: 1rem;
    display: flex;
    gap: 40px;
}
#clients-num{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#expierience-yr{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#clients-num-one{
   font-size: 24px;
   font-weight: 500;
}
#clients-num-two{
   margin-top: 8px;
   font-size: 16px;
    font-weight: 300;
}
#expierience-yr-one{
    font-size: 24px;
    font-weight: 500;
}
#expierience-yr-two{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
}


#hero-pics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    
   
}
.hero-img-container{
    max-width: 24%;
    aspect-ratio:325/273;
    position: relative;
  
}
#hero-pics img{
    display: block;
    border-radius: 24px;
    object-fit: contain;
    width: 100%;
    
}
.hero-img-container:nth-child(even)::before{
    display: block;
    content: "";
   position: relative;
    height: 54px;
    width: 100%;
    
    border: none;


}


.hero-pro-pic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
#hero-details-two{
    display: flex;
    gap: 24px;
    align-items: flex-end;
    margin-top: 120px;
}
#sec-details-left{
    width:230px;
    font-size:12px ;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.5px;

}
#sec-details-middle{

}
#sec-details-right{
    background-color:#33B628;
    color: white;
    padding: 14px;
    border-radius:100px;
}

#lower-hero-title{

}
/* Main Area */

#main-area{
    margin-top: 120px;
    background-color: white;
    padding: 48px;
    border-radius: 48px;
}
#search-area{
    display: flex;
    justify-content: space-between;
   
}
/* Articles */
#articles-area{
    margin-top: 170px;
}


#articles-area{
    margin-bottom: 100px;
}
#top-article-container{
    display: flex;
    justify-content: space-between;
    gap: 28px;

}
#article-area-left{
    flex: 0.95;
}
#article-area-left .article-pic img{

    width: 100%;
    object-fit: cover;
    aspect-ratio:667/359;
    border-radius: 24px;
}
#article-area-right{
    flex:1;
   
}
.right-article-conatiner{
    display: flex;
    gap: 30px;
}
.right-article-conatiner .article-pic {
    aspect-ratio:333/296;
    flex: 1;
}
.right-article-conatiner .article-pic img{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    

}
.right-article-details{
    flex: 1;
    aspect-ratio:1/1;
    display: flex;
    flex-direction: column;
    
    
}
.article-pic{
   
}
#latest-articles-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.latest-article{
    width: 30%;
}
.article-pic img{
   
}
.latest-article .article-pic img{
    max-width: 30%;
}
.article-author-details{
    display: flex;
}
.article-date{
    font-size: 12px;
    
}
.article-title{
    font-size: 16px;
}
.article-description{
    font-size: 14px;
    flex-grow: 1;
}

.autor-pic img{
    width: 22px;
    height: 22px;
    border-radius: 100%;
}









/* Pagination */

#pagination-area{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Subscribe Area */

#subscribe-area{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

/* Footer */

#footer{
    background-color: #10182F;
    padding: 20px 120px 20px 120px;
    color: #D7F5E3;
}

#footer-logo-area {
    margin-top: 24px;
    display:flex;
    align-items: center;
    gap: 15px;
   
}
#footer-logo img{
    width: 144px;
    height: 144px;
    object-fit:contain;
    object-position: center;
    border-radius: 100%;
}
#footer-logo-description{
   
}
#footer-section-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top:64px;
}
.footer-links-ul {
    list-style: none;
}
.footer-li{
    margin-bottom: 10px;
}
.footer-li-a{
    text-decoration: none;
    color: #D7F5E3;
    
    font-size: var(--footer-li-a-font-size);
    letter-spacing:1px ;
    line-height:1.5;
    font-weight: 300;
}
.footer-section-title{
  margin-bottom: 24px;
  font-size: var(--footer-titles-font-size);
  letter-spacing:4px ;
  line-height:37px ;
  font-weight: 400;
}
#footer-divider-line{
    margin-top: 40px;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}

#footer-bottom-section{
    margin-top: 25px;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    font-size: var(--footer-li-a-font-size);
    letter-spacing:1px ;
    line-height:1.5 ;
    font-weight: 300;

}
#footer-bttm-middle{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
#social-media-description{
    color: #D7F5E3;
    
    font-size: var(--footer-li-a-font-size);
    letter-spacing:1px ;
    line-height:1.5 ;
}
/* Media Querries */

@media (max-width:1400px){
    #nav-ul a{
       
        font-size: var(--menu-li-a-size);
        line-height: 26px;
        
    }
    #logo-img img , #footer-logo img{
        width: 85px;
        height: 85px;
    }
    #logo-text , #footer-logo-description{
       font-size:var(--logo-description-size);
     
    }
    #main-wrapper{
        margin: 0px 100px 0px 100px;
    }
    #hero-title{
        font-size:var(--hero-title);
    }

}

@media (max-width:1200px){
    #nav-ul a{
       
        font-size: var(--menu-li-a-size);
        line-height: 24px;
        
    }
    #logo-img img , #footer-logo img{
        width: 85px;
        height: 85px;
    }
    #logo-text , #footer-logo-description{
       font-size: 10px;
      
    }
    #main-wrapper{
        margin: 0px 80px 0px 80px;
    }
    #hero-title{
        font-size:var(--hero-title);
    }
}
@media (max-width:992px){
    #nav-ul a{
       
        font-size: 14px;
        line-height: 22px;
        
    }
    #logo-img img , #footer-logo img{
        width: 66px;
        height: 66px;
    }
    #logo-text , #footer-logo-description{
       font-size: 8px;
     
    }
    #main-wrapper{
        margin: 0px 60px 0px 60px;
    }
    #hero-title{
        font-size:var(--hero-title);
    }
}@media (max-width:768px){
    #nav-ul a{
       
        font-size: 12px;
        line-height: 20px;
        
    }
    #logo-img img , #footer-logo img{
        width: 51px;
        height: 51px;
    }
    #logo-text , #footer-logo-description{
       font-size: 6px;
      
    }
    #main-wrapper{
        margin: 0px 40px 0px 40px;
    }
    #hero-title{
        font-size:var(--hero-title);
    }
}@media (max-width:576px){
    #nav-ul a{
       
        font-size: 8px;
        line-height: 16px;
        
    }
    #logo-img img , #footer-logo img{
        width: 35px;
        height: 35px;
    }
    #logo-text , #footer-logo-description{
       font-size: 4px;
      
    }
    #main-wrapper{
        margin: 0px 16px 0px 16px;
    }
    #hero-title{
        font-size:var(--hero-title);
    }
}