*,*::before ,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-wrapper-margin: 0px 120px 0px 120px;

    --footer-li-a-font-size:12px;
    --footer-titles-font-size:16px;

    --logo-width:120px;
    --logo-height:120px;

    --menu-li-a-fz:22px;
    --menu-li-a-lh:1.3;
    --menu-li-a-ls:1px;
    --menu-li-a-fw:400;


    --hero-title:72px;


   --logo-description-fz:20px;
   --logo-description-fw:400;
   --logo-description-lh:1.5;
   --logo-description-ls:1px;

   --padding-inline:120px;
   --margin-inline:120px;

}
@media (max-width:1400px){

    :root{
     
        --logo-width:100px;
        --logo-description-fz:18px;
        --menu-li-a-fz:20px;

        --padding-inline:100px;
        --margin-inline:100px;
    }
}

@media (max-width:1200px){

    :root{
     
        --logo-width:80px;
        --logo-description-fz:16px;
        --menu-li-a-fz:18px;

        --padding-inline:80px;
        --margin-inline:80px;
     
    }

}

@media (max-width:992px){

    :root{
      
        --logo-width:60px;
        --logo-description-fz:12px;
        --menu-li-a-fz:16px;

        --padding-inline:60px;
        --margin-inline:60px;
     
    }


}

@media (max-width:768px){
    :root{
      
        --logo-width:50px;
        --logo-description-fz:10px;
        --menu-li-a-fz:14px;

        --padding-inline:40px;
        --margin-inline:40px;
      
    }

}

@media (max-width:576px){
    :root{ 
  
    --logo-width:50px;
    --logo-description-fz:10px;
    --menu-li-a-fz:14px;

    --padding-inline:16px;
    --margin-inline:16px;
   
    }
}

body{
    overflow-x: auto;
    font-family: "Roboto" ,sans-serif;
   
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
   align-items: center;
   
   
  }
 
  #main-container{
    background-color: #F6FCF8;
    max-width: 1600px;
    min-height: 100vh;
    width: 100%;
    
}
.h-padding{
    padding-inline:var(--padding-inline);  
} 
.h-margin{
   margin-inline:var(--margin-inline); 
}
#logo-text , #footer-logo-description{
    line-height: 1.9;
    
  }

img{
    display: inline-block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}


#main-nav { 
    @media(max-width:768px) {
        position: relative;

       
        .bi-x-square.active{
            display: inline-block;
        }
        .bi-list.active{
            display: inline-block;
        }
    }
   
    display:flex;
    justify-content: space-between;
    align-items: center; 
    padding-top:30px;
    position: relative; 
	#logo-area { 
        display: flex;
        justify-content: space-between;
        align-items: center;

		#logo-img { 
            aspect-ratio:1/1;
            width: var(--logo-width);
			img { 
               
                object-fit:contain;
                object-position: center;
                border-radius: 100%;
			}
		}

		#logo-text { 
            margin-left: 14px;
            font-size: var(--logo-description-fz);
            font-weight: var(--logo-description-fw);
            line-height: var(--logo-description-lh);
            letter-spacing: var(--logo-description-ls);
           

			br { 

			}
		}
	}

	#nav-menus { 
        #m-logo-area { 
            display: none;
        }
        @media(max-width:768px) {
            // display: none;
            pointer-events: none;
            position: absolute;
            left: -300px;
        }
		#nav-ul { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            @media(max-width:768px) {
                flex-direction: column;
                align-items: initial;
            }

			.nav-li { 
                @media(max-width:768px) {
                    margin: initial;
                }
                margin-left: 40px;
				.nav-a { 
                    text-decoration: none;
                    color: black;
                    font-size: var(--menu-li-a-fz);
                    
                    font-weight: var(--menu-li-a-fw);
                    line-height: var(--menu-li-a-lh);
                    letter-spacing: var(--menu-li-a-ls);
        
                    line-height: 28px;
                    letter-spacing: 13%;
                    font-weight: 400;
                }
                .nav-a:hover {
                    opacity: 0.7;
                }
                .nav-a.impressa{
                    padding: 8px;
                    background-color:#33B628;
                    border-radius: 8px;
                    color: white;
                }
			}
		}
    }
    .overlay-div{
        position: fixed;
        inset:0;
        background-color: rgba(0,0,0, 0.5);
        pointer-events: none;
        opacity: 0;
        z-index: 200;
        transition: 0.2 ease-in;
    }
    .overlay-div.active{
        opacity: 1;
        pointer-events: all;
    
    }
    #nav-menus.active { 
        display: block;
        position: fixed;
        background-color: #fff;
        padding-left:var(--padding-inline);
        top: 0px;
        pointer-events: all;
        z-index: 300;
        height: 100%;
        width: 300px;
        transform: translateX(300px);
        transition: 0.5s all;
        background: #F6FCF8;
        .closebutton{
            position: absolute;
            top: 30px;
            right: 12px; 
            color: red;   
        }
        #m-logo-area { 
            display: flex;
           margin-top: 30px;
            align-items: center;
    
            #m-logo-img { 
                aspect-ratio:1/1;
                width: var(--logo-width);
                img { 
                   
                    object-fit:contain;
                    object-position: center;
                    border-radius: 100%;
                }
            }
    
            #m-logo-text { 
                margin-left: 14px;
                font-size: var(--logo-description-fz);
                font-weight: var(--logo-description-fw);
                line-height: var(--logo-description-lh);
                letter-spacing: var(--logo-description-ls);
               
    
                br { 
    
                }
            }
        }
        #nav-ul{
          position: relative;
          margin-top: 24px; 
          
          
            .nav-li { 
               margin-bottom: 12px;
                .nav-a { 

                }
               
            }
           
        }
    }
    .bi-list{
        display: none;
        cursor: pointer;
        color: #33B628;
        -webkit-text-stroke: 1px;
        font-size: 24px;
    }
     
    .bi-x-square{
        display: none;
        cursor: pointer;
       
        -webkit-text-stroke: 0.2px;
        font-size: 18px;


    }
   
}
