

*,*::before ,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-wrapper-margin: 0px 120px 0px 120px;

    --footer-li-a-font-size:12px;
    --footer-titles-font-size:16px;

    --logo-width:120px;
    --logo-height:120px;

    --menu-li-a-fz:22px;
    --menu-li-a-lh:1.3;
    --menu-li-a-ls:1px;
    --menu-li-a-fw:400;


    --hero-title:72px;


   --logo-description-fz:20px;
   --logo-description-fw:400;
   --logo-description-lh:1.5;
   --logo-description-ls:1px;

   --search-width:30%;

   --section-heading-fz:28px;
   --section-heading-ls:1px;
   --section-heading-lh:1.4;
   --section-heading-fw:600;

   --post-heading-fz:24px;
   --post-heading-ls:1px;
   --post-heading-lh:1.2;
   --post-heading-fw:500;
   --post-heading-mt:8px;

   --post-para-fz:12px;
   --post-para-ls:1px;
   --post-para-lh:1.6;
   --post-para-fw:300;

   --hero-details-bg-fz:24px;
   --hero-details-sm-fz:16px;
   --hero-details-gap:40px;
}
@media (max-width:1400px){

    :root{
        --hero-title:60px;
        --logo-width:100px;
        --logo-description-fz:18px;
        --menu-li-a-fz:20px;
    }
}

@media (max-width:1200px){

    :root{
        --hero-title:50px;
        --logo-width:80px;
        --logo-description-fz:16px;
        --menu-li-a-fz:18px;
        --hero-details-bg-fz:18px;
        --hero-details-sm-fz:14px;
        --hero-details-gap:20px;
    }


    
    
}

@media (max-width:992px){

    :root{
        --hero-title:36px;
        --logo-width:60px;
        --logo-description-fz:12px;
        --menu-li-a-fz:16px;
        --hero-details-bg-fz:16px;
        --hero-details-sm-fz:12px;
        --hero-details-gap:10px;
    }


}

@media (max-width:768px){
    :root{
        --hero-title:26px;
        --logo-width:50px;
        --logo-description-fz:10px;
        --menu-li-a-fz:14px;
        --hero-details-bg-fz:12px;
        --hero-details-sm-fz:10px;
        --hero-details-gap:10px;
        --section-heading-fz: 20px;
        --post-heading-fz: 18px;
    }

}

@media (max-width:576px){
    :root{ 
    --hero-title:26px;
    --logo-width:50px;
    --logo-description-fz:10px;
    --menu-li-a-fz:14px;
    --hero-details-bg-fz:12px;
    --hero-details-sm-fz:10px;
    --hero-details-gap:10px;
    }
}

@media (max-width:446px){
    :root{ 
    --hero-title:20px;
    
    }
}





body{
  overflow-x: auto;
  font-family: "Roboto" ,sans-serif;
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
 
 
}

#main-container{
    background-color: #F6FCF8;
    max-width: 1600px;
    min-height: 100vh;
    
}
#main-wrapper{
  margin: 0px 120px 0px 120px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#logo-text , #footer-logo-description{
    line-height: 1.9;
    
  }

img{
    display: inline-block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
// #main-wrapper > div ,#footer{
//     border: 1px solid red;
//     max-width: 100%;
//     overflow-x: hidden;
//     flex-wrap: wrap;
// }



/*  navigation  */

#main-nav { 
    @media(max-width:768px) {
        position: relative;
    }
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0px 0px;
    position: relative;
	#logo-area { 
        display: flex;
        justify-content: space-between;
        align-items: center;

		#logo-img { 
            aspect-ratio:1/1;
            width: var(--logo-width);
			img { 
               
                object-fit:contain;
                object-position: center;
                border-radius: 100%;
			}
		}

		#logo-text { 
            margin-left: 14px;
            font-size: var(--logo-description-fz);
            font-weight: var(--logo-description-fw);
            line-height: var(--logo-description-lh);
            letter-spacing: var(--logo-description-ls);
           

			br { 

			}
		}
	}

	#nav-menus { 
        #m-logo-area { 
            display: none;
        }
        @media(max-width:768px) {
            // display: none;
            pointer-events: none;
            position: absolute;
            left: -300px;
        }
		#nav-ul { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            @media(max-width:768px) {
                flex-direction: column;
                align-items: initial;
            }

			.nav-li { 
                @media(max-width:768px) {
                    margin: initial;
                }
                margin-left: 40px;
				.nav-a { 
                    text-decoration: none;
                    color: black;
                    font-size: var(--menu-li-a-fz);
                    
                    font-weight: var(--menu-li-a-fw);
                    line-height: var(--menu-li-a-lh);
                    letter-spacing: var(--menu-li-a-ls);
        
                    line-height: 28px;
                    letter-spacing: 13%;
                    font-weight: 400;
                }
                .nav-a:hover {
                    opacity: 0.7;
                }
                .nav-a.impressa{
                    padding: 8px;
                    background-color:#33B628;
                    border-radius: 8px;
                    color: white;
                }
			}
		}
    }
    .overlay-div{
        position: fixed;
        inset:0;
        background-color: rgba(0,0,0, 0.5);
        pointer-events: none;
        opacity: 0;
        z-index: 200;
        transition: 0.2 ease-in;
    }
    .overlay-div.active{
        opacity: 1;
        pointer-events: all;
    
    }
    #nav-menus.active { 
        display: block;
        position: fixed;
        background-color: #fff;
        padding:0px 24px;
        top: 0px;
        pointer-events: all;
        z-index: 300;
        height: 100%;
        width: 300px;
        transform: translateX(300px);
        transition: 0.5s all;
        background: #F6FCF8;
        .closebutton{
            position: absolute;
            top: 30px;
            right: 12px; 
            color: red;   
        }
        #m-logo-area { 
            display: flex;
           margin-top: 30px;
            align-items: center;
    
            #m-logo-img { 
                aspect-ratio:1/1;
                width: var(--logo-width);
                img { 
                   
                    object-fit:contain;
                    object-position: center;
                    border-radius: 100%;
                }
            }
    
            #m-logo-text { 
                margin-left: 14px;
                font-size: var(--logo-description-fz);
                font-weight: var(--logo-description-fw);
                line-height: var(--logo-description-lh);
                letter-spacing: var(--logo-description-ls);
               
    
                br { 
    
                }
            }
        }
        #nav-ul{
          position: relative;
          margin-top: 24px; 
          
          
            .nav-li { 
               margin-bottom: 12px;
                .nav-a { 

                }
               
            }
           
        }
    }
    .bi-list{
        display: none;
        cursor: pointer;
        color: #33B628;
        -webkit-text-stroke: 1px;
        font-size: 30px;
    }
    
    .bi-x-square{
        display: none;
        cursor: pointer;
       
        -webkit-text-stroke: 0.2px;
        font-size: 18px;


    }
   
}


/*  Hero title   */

#hero-title { 
    font-family: "Playfair Display", serif;
    font-weight: 400;
    
    font-size:var(--hero-title);
  
    letter-spacing: 4px;
    line-height: 1.1;
    margin-top: 24px;
    @media(max-width:576px) {
        letter-spacing: 1px;
    }
    @media (max-width:446px){
        font-weight: 500;
    }
    
	br { 

	}

	#lower-hero-title { 

	}
}

/*  Hero details one wrapper  */

#hero-details-one-wrapper { 

    position: relative;
    @media (max-width:768px){
        display: none;
    }
	#hero-details-one { 
        position: absolute;
        top: 0rem;
        right: 1rem;
        display: flex;
        gap: var( --hero-details-gap);
        @media(max-width:768px){
            right: 0.4rem;
            top: 1rem;
        }
      
		#clients-num { 
            display: flex;
            flex-direction: column;
            text-align: center;

			#clients-num-one { 
                font-size: var(--hero-details-bg-fz);
                font-weight: 500;
			}

			#clients-num-two { 
                margin-top: 8px;
                font-size: var(--hero-details-sm-fz);
                 font-weight: 300;
			}
		}

		#expierience-yr { 
            display: flex;
            flex-direction: column;
            text-align: center;

			#expierience-yr-one { 
                font-size: var(--hero-details-bg-fz);
                font-weight: 500;
			}

			#expierience-yr-two { 
                margin-top: 8px;
                font-size: var(--hero-details-sm-fz);
                font-weight: 300;
			}
		}
	}
}


/* hero pics  */

#hero-pics { 

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;

    

	.hero-img-container { 

        max-width: 24%;
        aspect-ratio:325/273;
        position: relative;

		.hero-img { 
            display: block;
            border-radius: 24px;
            object-fit: contain;
            width: 100%;
            
        }
        
    }
    .hero-img-container:nth-child(even)::before{
        display: block;
        content: "";
       position: relative;
        height: 54px;
        width: 100%;
        
        border: none;
    
    
    }
}
/*  hero mobile details  two  */
    #hero-details-mobile-wrapper{

    display: none;
   

    #hero-details-one { 
       
        display: flex;
        gap: var( --hero-details-gap);
        @media(max-width:768px){
            right: 0.4rem;
            top: 1rem;
        }
      
		#clients-num { 
            display: flex;
            flex-direction: column;
            text-align: center;

			#clients-num-one { 
                font-size: var(--hero-details-bg-fz);
                font-weight: 500;
			}

			#clients-num-two { 
                margin-top: 8px;
                font-size: var(--hero-details-sm-fz);
                 font-weight: 300;
			}
		}

		#expierience-yr { 
            display: flex;
            flex-direction: column;
            text-align: center;

			#expierience-yr-one { 
                font-size: var(--hero-details-bg-fz);
                font-weight: 500;
			}

			#expierience-yr-two { 
                margin-top: 8px;
                font-size: var(--hero-details-sm-fz);
                font-weight: 300;
			}
		}
	}
    @media (max-width:768px){
        display: block;
    }
    }
/*  hero details two  */

#hero-details-two { 
    display: flex;
    gap: 24px;
    align-items: flex-end;
    margin-top: 90px;
    flex-wrap: wrap;

    @media(max-width:768px) {
       margin-top: 48px;
        
    }
	#sec-details-left { 
        width:260px;
        font-size:16px ;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 1px;
        @media(max-width:768px) {
                 font-size: 12px;

        }

	}

	#sec-details-middle { 
        position: relative;
        margin-right: 60px;
		.hero-pro-pic { 
            width: 40px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
            @media(max-width:768px) {
                width: 30px;
                height: 30px;
            }
        }
        .hero-pro-pic:nth-child(1) {
           
           
            z-index: 11;
        }
        .hero-pro-pic:nth-child(2) {
            position: absolute;
            left: 30px;
            z-index: 10;
            @media(max-width:768px) {
                left: 20px;
            }
         }
         .hero-pro-pic:nth-child(3) {
            position: absolute;
            left: 60px;
            z-index: 9;
            @media(max-width:768px) {
                left: 40px;
            }

        }
	}

	#sec-details-right { 
        background-color:#33B628;
        color: white;
        padding: 6px 12px;
        border-radius:100px;    
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        @media(max-width:768px) {
                 font-size:14px;
        }
        .bi-play-fill{
            font-size: 24px;
            margin-right: 8px;
            @media(max-width:768px) {
                 font-size: 18px;
            }
        }
	}
}


/*  main area */
#main-area{
    margin-top: 120px;
    background-color: white;
    padding: 48px;
    border-radius: 48px;
}

/*  main area search area  */ 

#search-area { 
    display: flex;
    justify-content: space-between;

	#search-left { 
        font-size:18px;
        font-weight:500;
        line-height:1.3;
        letter-spacing:1px;
        @media(max-width:768px) {
                 font-size: 14px;
                text-align: center;
        }
    
        
	}

	#search-right { 
        position: relative;
        width: var(--search-width);
        @media(max-width:768px) {
           
            width: initial;
            margin: 0px 24px;
            margin-top: 24px;
         }

		.searchinput { 
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 24px;
            width: 100%;
            text-indent: 28px;

        }
        .searchbtn{
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 24px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right:4px;
            transform: translateY(-50%);
            color: white;
            background-color: #33B628;
            letter-spacing: 1px;

        }
        .bi-search{
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            font-size: 16px;

        }
	}
}

/*   main area top articles area  */

#articles-area { 
     margin-top: 60px;
     

	.section-title { 

        font-size:var( --section-heading-fz);
        font-weight:var( --section-heading-fw);
        line-height:var( --section-heading-lh);
        letter-spacing:var( --section-heading-ls);

	}

	#top-article-container { 
        display: flex;
        justify-content: space-between;
        gap: 28px;
        margin-top: 52px;

		#article-area-left { 
            flex: 0.95;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media(max-width:768px) {
                 margin-bottom: 24px;
            }
			.article-pic { 

				img { 
                    width: 100%;
                    object-fit: cover; 
                    aspect-ratio:667/359;
                    border-radius: 24px;
				}
			}

			.article-date { 
                font-size: 12px;
                font-weight:300;
                line-height:1.2;
                letter-spacing:1px;

			}

			.article-title { 
                font-size:var( --post-heading-fz);
                font-weight:var( --post-heading-fw);
                line-height:var( --post-heading-lh);
                letter-spacing:var( --post-heading-ls);

                margin-top: var(--post-heading-mt);

			}

			.article-description { 
                font-size:var( --post-para-fz);
                font-weight:var( --post-para-fw);
                line-height:var( --post-para-lh);
                letter-spacing:var( --post-para-ls);

                flex-grow: 1;
                margin-top: 12px;


			}

			.article-author-details { 
                display: flex;
                
                gap: 12px;
                @media(max-width:992px) {
                    margin-top: 12px;
                    margin-bottom: 12px;
                     
                 }

				.autor-pic { 
                  
					img { 
                     width:44px;
                    height: 44px;
                    border-radius: 100%;
                    object-fit: cover;
					}
				}

				.author-right { 
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    margin-top: 4px;

					.author-written-by { 
                        font-size:12px;
                        font-weight:400;
                        line-height:1.2;
                        letter-spacing:1px;

					}

					.author-name { 
                        font-size:12px;
                        font-weight:500;
                        line-height:1.2;
                        letter-spacing:1px;


					}
				}
			}
		}

		#article-area-right { 
            flex:1;
			.right-article-conatiner { 
                display: flex;
                gap: 30px;

				.article-pic { 
                    aspect-ratio:333/296;
                    flex: 1;
					img { 
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 24px;
					}
				}

				.right-article-details { 
                    flex: 1;
                    aspect-ratio:1/1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
					.article-date { 
                        font-size: 12px;
                        font-weight:300;
                        line-height:1.2;
                        letter-spacing:1px;
                        
					}

					.article-title { 
                            font-size:var( --post-heading-fz);
                            font-weight:var( --post-heading-fw);
                            line-height:var( --post-heading-lh);
                            letter-spacing:var( --post-heading-ls);
                            margin-top: var(--post-heading-mt);
                        
					}

					.article-description { 
                        font-size:var( --post-para-fz);
                        font-weight:var( --post-para-fw);
                        line-height:var( --post-para-lh);
                        letter-spacing:var( --post-para-ls);

                        flex-grow: 1;
                        margin-top: 12px;

					}

					.article-author-details { 
                        @media(max-width:992px) {
                            margin-top: 12px;
                           
                             
                         }
                        display: flex;
                
                        gap: 12px;

						.autor-pic { 

							img { 
                               aspect-ratio:1/1;
                                height:44px;
                                border-radius: 100%;
                                object-fit: cover;
							}
						}

						.author-right { 
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            margin-top: 4px;

							.author-written-by { 
                                font-size:12px;
                                font-weight:400;
                                line-height:1.2;
                                letter-spacing:1px;
                                

							}

							.author-name { 
                                font-size:12px;
                                font-weight:500;
                                line-height:1.2;
                                letter-spacing:1px;

							}
						}
					}
                }
               
            }
            .right-article-conatiner:nth-child(2){
                margin-top: 12px;
        }
		}
	}
}

/*   main area latest articles  */

#latest-articles { 
    margin-top: 120px;

	.section-title { 
        font-size:var( --section-heading-fz);
        font-weight:var( --section-heading-fw);
        line-height:var( --section-heading-lh);
        letter-spacing:var( --section-heading-ls);

	}

	#latest-articles-container { 

        display: grid;
        grid-template-columns:repeat(3,1fr);
        align-content: center;
        grid-gap: 12px;
        margin-top: 52px;

		.latest-article { 
           
            margin-top: 24px;
			.article-pic { 

				img { 
                    aspect-ratio:438/312;
                   width: 100%;
                   border-radius: 24px;

				}
			}

			.right-article-details { 
              
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


			.article-date { 
                        font-size: 12px;
                        font-weight:300;
                        line-height:1.2;
                        letter-spacing:1px;
                        margin-top: 4px;

			}

			.article-title { 
                font-size:var( --post-heading-fz);
                font-weight:var( --post-heading-fw);
                line-height:var( --post-heading-lh);
                letter-spacing:var( --post-heading-ls);

                margin-top: var(--post-heading-mt);

			}

			.article-description { 
                font-size:var( --post-para-fz);
                font-weight:var( --post-para-fw);
                line-height:var( --post-para-lh);
                letter-spacing:var( --post-para-ls);

                flex-grow: 1;
                margin-top: 12px;

    }

			.article-author-details { 
                display: flex;
                margin-top: 24px;
                gap: 12px;
				.autor-pic { 

					img { 
                        aspect-ratio:1/1;
                        height:44px;
                        border-radius: 100%;
                        object-fit: cover;
            }
				}

				.author-right { 
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    margin-top: 4px;

					.author-written-by { 
                        font-size:12px;
                        font-weight:400;
                        line-height:1.2;
                        letter-spacing:1px;

					}

					.author-name { 
                        font-size:12px;
                        font-weight:500;
                        line-height:1.2;
                        letter-spacing:1px;

					}
				}
            }
            
        }

		}
	}


}



/*  pagination area  */

#pagination-area { 
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

	#pagination-left { 
        .bi-arrow-left{
            margin-right: 12px;
        }
	}

	#pagination-middle { 
        .pagination-num{
           padding: 8px;
           display: inline-block;
            text-align: center;
            border-radius: 8px;
        }
        .pagination-num.active{
            background-color: #D9D9D9;
        }
	}

	#pagination-right { 
        .bi-arrow-right{
            margin-left: 12px;
        }

    }
    
}

/*  subscribe area  */

#subscribe-area { 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

	#subscribe-icon { 
        font-size: 36px;
	}

	#subscribe-title { 
        font-size: 28px;
        font-weight: 500;
        line-height:1.3 ;
        letter-spacing:3px ;
        margin-top:12px;
   
	}

	#subscribe-details { 
        font-size:var( --post-para-fz);
        font-weight:var( --post-para-fw);
        line-height:var( --post-para-lh);
        letter-spacing:var( --post-para-ls);

        margin-top: 12px;
        width: 380px;
        text-align: center;
        
	}

	#subscribe-input { 
        margin-top:12px;
        position: relative;
        width: 70%;
        min-width: 300px;
        max-width: 600px;
		.txtinput { 
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 24px;
            width: 100%;
            text-indent: 12px;
        }
       .subsbtn { 
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 24px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right:4px;
            transform: translateY(-50%);
            color: white;
            background-color: #33B628;
            letter-spacing: 1px;
		}
	}

	#subscribe-sub-text { 
        font-size:var( --post-para-fz);
        font-weight:var( --post-para-fw);
        line-height:var( --post-para-lh);
        letter-spacing:var( --post-para-ls);

        margin-top: 12px;
        
	}
}

/*  footer  */


#footer { 
    background-color: #10182F;
    padding: 20px 120px 20px 120px;
    color: #D7F5E3;

	#footer-logo-area { 

        margin-top: 24px;
        display:flex;
        align-items: center;
        gap: 15px;

		#footer-logo { 
            aspect-ratio:1/1;
            width: var(--logo-width);
			img { 
              
                object-fit:contain;
                object-position: center;
                border-radius: 100%;
			}
		}

		#footer-logo-description { 
            font-size: var(--logo-description-fz);
            font-weight: var(--logo-description-fw);
            line-height: var(--logo-description-lh);
            letter-spacing: var(--logo-description-ls);
			br { 

			}
		}
	}

	#footer-section-wrapper { 
        display: flex;
        justify-content: space-between;
        margin-top:64px;
        flex-wrap: wrap;
		.section-one { 
            padding-right: 24px;
			.footer-section-title { 
                margin-bottom: 24px;
                font-size: var(--footer-titles-font-size);
                letter-spacing:4px ;
                line-height:37px ;
                font-weight: 400;
			}

			.footer-links-ul { 
                list-style: none;

				.footer-li { 
                    margin-bottom: 10px;

					.footer-li-a { 
                        text-decoration: none;
                        color: #D7F5E3;
    
                        font-size: var(--footer-li-a-font-size);
                        letter-spacing:1px ;
                        line-height:1.5;
                        font-weight: 300;   
					}
				}
			}
		}

		.section-two { 
            padding-right: 24px;
			.footer-section-title { 
                margin-bottom: 24px;
                font-size: var(--footer-titles-font-size);
                letter-spacing:4px ;
                line-height:37px ;
                font-weight: 400;
			}

			.footer-links-ul { 
                list-style: none;
				.footer-li { 
                    margin-bottom: 10px;

					.footer-li-a { 
                        text-decoration: none;
                        color: #D7F5E3;
    
                        font-size: var(--footer-li-a-font-size);
                        letter-spacing:1px ;
                        line-height:1.5;
                        font-weight: 300;   
					}
				}
			}
		}

		.section-three { 
            padding-right: 24px;
			.footer-section-title { 
                margin-bottom: 24px;
                font-size: var(--footer-titles-font-size);
                letter-spacing:4px ;
                line-height:37px ;
                font-weight: 400;
			}

			.footer-links-ul { 
                list-style: none;

				.footer-li { 
                    margin-bottom: 10px;

					.footer-li-a { 
                        text-decoration: none;
                        color: #D7F5E3;
    
                        font-size: var(--footer-li-a-font-size);
                        letter-spacing:1px ;
                        line-height:1.5;
                        font-weight: 300;   
					}
				}
			}
		}

		.section-four { 

			.footer-section-title { 
                margin-bottom: 24px;
                font-size: var(--footer-titles-font-size);
                letter-spacing:4px ;
                line-height:37px ;
                font-weight: 400;
			}

			#social-media-description { 
                color: #D7F5E3;
    
                font-size: var(--footer-li-a-font-size);
                letter-spacing:1px ;
                line-height:1.5 ;

				br { 

				}
			}

			#social-media-links { 

			}
		}
	}

	#footer-divider-line { 
        margin-top: 40px;
        border-bottom: 1px solid rgba(255,255,255, 0.2);

	}

	#footer-bottom-section { 
        margin-top: 25px;
        margin-bottom: 29px;
        display: flex;
        justify-content: space-between;
        font-size: var(--footer-li-a-font-size);
        letter-spacing:1px ;
        line-height:1.5 ;
        font-weight: 300;
        flex-wrap: wrap;
        gap: 24px;
		#footer-bttm-left { 

		}

		#footer-bttm-middle { 
            display: flex;
            justify-content: space-between;
            gap: 24px;

			#footer-middle-one { 

			}

			#footer-middle-two { 

			}
		}

		#footer-bttm-right { 

		}
	}
}

/* Media querries */

@media (max-width:1400px){
   
    #main-wrapper{
        margin: 0px 100px 0px 100px;
    }
    #hero-title{
       
    }

}

@media (max-width:1200px){
    
    #main-wrapper{
        margin: 0px 80px 0px 80px;
    }
    

    
}
@media (max-width:992px){
   
    #main-wrapper{
        margin: 0px 60px 0px 60px;
    }
    #articles-area{ 
        #top-article-container{
            display:block;
            
            #article-area-right{
            
            }
        }
    }
    #latest-articles{

        #latest-articles-container{
            grid-template-columns: repeat(2, 1fr);

        }

    }
    #footer{
        padding: 20px 60px 20px 60px;
    }
}
@media (max-width:768px){
    #main-nav  {
       
        #nav-menus{
         

        }
        .bi-x-square.active{
            display: inline-block;
        }
        .bi-list.active{
            display: inline-block;
        }
    }
    
    #main-wrapper{
        margin: 0px 40px 0px 40px;
    }
  
    #main-area{
        #search-area{
            display: block;
        }
    }
    #footer{
        padding: 20px 40px 20px 40px;
    }
}
@media (max-width:576px){
   
    #main-wrapper{
        margin: 0px 16px 0px 16px;
        #main-area{
            padding: 32px 12px;
        }
    }
    #hero-title{
      
       
    }

    #subscribe-area{
        #subscribe-title{
            font-size: 16px;
        }
        #subscribe-details{
            width: 70%;
        }
    }
    #footer{
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width:485px){
    
    #pagination-area #pagination-right .bi-arrow-right{
        margin: initial;
        display: none;
    }
    #pagination-area #pagination-left .bi-arrow-left {
        margin-right: initial;
        display: none;
    }
    #pagination-area #pagination-middle {
        text-align: center;
    }
}